
body{
 main{
     display: flex;
     justify-content: center;
     align-items: center;
     .account{
         ul{
             li{
                 margin: 20px 0px;
                 background-color: rgb(202, 202, 202);
                 list-style-type: none;
                 width: 600px;
                 div{
                     display: flex;
                     justify-content: space-around;
                     align-items: center;
                     padding: 15px 5px;
                     img{
                         width: 50px;
                         border-radius: 40px;
                     }
                     .switch{
                         input{
                             width: 50px;
                         }
                     }
                 }
             }
         }
     }
 }
}